In [2]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
from selenium import webdriver
import requests

In [2]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

### NASA Mars News

In [3]:
executable_path = {'executable_path': 'C:/Users/Clay/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
browser.visit(url)

In [5]:
html = browser.html

In [6]:
soup = bs(html, 'html.parser')

In [7]:
news_title = browser.find_by_css("div.content_title a").text
news_title

''

In [8]:
news_p = browser.find_by_css("div.article_teaser_body").text
news_p

"The agency's Mars 2020 mission is on its way. It will land at Jezero Crater in about seven months, on Feb. 18, 2021."

In [9]:
browser.quit()

### JPL Mars Space Images - Featured Image

In [10]:
executable_path = {'executable_path': 'C:/Users/Clay/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
url_jpl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [12]:
browser.visit(url_jpl)

In [13]:
html_jpl = browser.html

In [14]:
soup_jpl = bs(html_jpl, 'html.parser')

In [15]:
button = browser.find_by_id('full_image')
button.click()

In [16]:
html_mars_img = browser.html
soup_mars_img = bs(html_mars_img, 'html.parser')

In [17]:
more_info = browser.links.find_by_partial_text('more info')
more_info.click()

In [18]:
html_more_info = browser.html
soup_full_mars_img = bs(html_more_info, 'html.parser')

In [19]:
mars_img_link = soup_full_mars_img.select_one('figure.lede a img').get('src')
featured_image_url = f'https://www.jpl.nasa.gov{mars_img_link}'
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17044_hires.jpg'

In [20]:
browser.quit()

### Mars Weather Twitter

In [21]:
executable_path = {'executable_path': 'C:/Users/Clay/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [22]:
url_twitter = 'https://twitter.com/marswxreport?lang=en'

In [23]:
browser.visit(url_twitter)

In [24]:
html = browser.html

In [25]:
soup = bs(html, 'html.parser')

In [27]:
mars_text = soup.find("div", { "data-testid" : "tweet" })
mars_weather = mars_text.text.strip()

In [28]:
mars_weather

'Mars Weather@MarsWxReport·21hInSight sol 595 (2020-07-29) low -91.9ºC (-133.5ºF) high -12.9ºC (8.7ºF)\nwinds from the WNW at 7.0 m/s (15.6 mph) gusting to 18.2 m/s (40.7 mph)\npressure at 7.90 hPa1722'

In [29]:
browser.quit()

### Mars Facts

In [30]:
executable_path = {'executable_path': 'C:/Users/Clay/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [31]:
url_marsfacts = 'https://space-facts.com/mars/'

In [32]:
browser.visit(url_marsfacts)

In [33]:
mars_table = pd.read_html(url_marsfacts)

In [34]:
mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [35]:
mars_info = mars_table[0]
mars_info

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [36]:
mars_info.set_index([0])

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [40]:
mars_info_html = mars_info.to_html()
mars_info_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [41]:
browser.quit()

### Mars Hemispheres

In [3]:
executable_path = {'executable_path': 'C:/Users/Clay/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [6]:
browser.visit(hem_url)

In [7]:
html = browser.html

In [8]:
soup = bs(html, 'html.parser')

In [9]:
link = browser.find_by_css("a.product-item h3")
link

In [11]:
len(link)

4

In [12]:
for x in range(len(link)):
    print(f'{x}: {link[x].text}')

0: Cerberus Hemisphere Enhanced
1: Schiaparelli Hemisphere Enhanced
2: Syrtis Major Hemisphere Enhanced
3: Valles Marineris Hemisphere Enhanced

In [16]:
hemisphere_image_urls = []
hemisphere_dict = {}

In [14]:
# Page 1
browser.find_by_text('Cerberus Hemisphere Enhanced').click()

In [17]:
hemisphere_dict['title'] = browser.find_by_css("h2.title").text

In [19]:
hemisphere_dict['img_url'] = browser.links.find_by_text('Original').first['href']

In [20]:
hemisphere_image_urls.append(hemisphere_dict)

In [24]:
# Page 2
browser.visit(hem_url)
browser.find_by_text('Schiaparelli Hemisphere Enhanced').click()
hemisphere_dict['title'] = browser.find_by_css("h2.title").text
hemisphere_dict['img_url'] = browser.links.find_by_text('Original').first['href']
hemisphere_image_urls.append(hemisphere_dict)

In [25]:
# Test
hemisphere_image_urls

[{'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif'}]

In [26]:
# Page 3
browser.visit(hem_url)
browser.find_by_text('Syrtis Major Hemisphere Enhanced').click()
hemisphere_dict['title'] = browser.find_by_css("h2.title").text
hemisphere_dict['img_url'] = browser.links.find_by_text('Original').first['href']
hemisphere_image_urls.append(hemisphere_dict)

In [27]:
# Page 4
browser.visit(hem_url)
browser.find_by_text('Valles Marineris Hemisphere Enhanced').click()
hemisphere_dict['title'] = browser.find_by_css("h2.title").text
hemisphere_dict['img_url'] = browser.links.find_by_text('Original').first['href']
hemisphere_image_urls.append(hemisphere_dict)
browser.quit()

In [28]:
# Final test of completed List of Dictionaries
hemisphere_image_urls

[{'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif'}]